<form action="/wishlist" method="POST" >
  <button type="submit"  
          style="background: #fff; color: #ff385c; border: 1px solid #ff385c; border-radius: 6px; padding: 8px 18px; font-weight: 600; cursor: pointer; transition: background 0.2s;"
        >
          &#9825; Save to Wishlist
        </button>
        <input type="hidden" name="id" value="<%= home._id%>">
</form>